* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.board-main {
  background: #e6efff;
}

.board-main .board-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #e6efff;
  max-width: 1520px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board-main .board-header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 238px;
  height: 48px;
}

.board-main .board-header button {
  padding: 14px 17px;
  background-color: #003087;
  border-radius: 2rem;
  color: white;
  margin-left: 6px;
  border: none;
}

.board-main .board-header a {
  text-decoration: none;
  color: black;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(#e5efff), color-stop(81.76%, rgba(229, 239, 255, 0)));
  background: linear-gradient(180deg, #e5efff 0%, rgba(229, 239, 255, 0) 81.76%);
}

.hero-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 6px;
  max-width: 1520px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-child .child1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  height: 550px;
}

.hero-child .child1 .input-pt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #003087;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 63px;
  border-radius: 8px;
  margin: 12px 0px;
  width: 100%;
}

.hero-child .child1 .input-pt p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-right: 1px solid #003087;
  background: #f2f2f2;
  padding: 20px;
  border-radius: 8px 0px 0px 8px;
  color: #828282;
}

.hero-child .child1 .input-pt input {
  outline: none;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding-left: 12px;
  font-weight: bold;
  font-size: 20px;
  padding: 18px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.hero-child .child1 h1 {
  font-weight: 800;
  font-size: 72px;
  line-height: 90px;
}

.hero-child .child1 h2 {
  font-weight: normal;
  font-size: 28px;
  line-height: 37px;
  color: #828282;
}

.hero-child .child1 .child1-img-pt {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero-child .child1 .child1-img-pt img {
  width: 151px;
  height: 100px;
}

.hero-child .child1 .child1-img-pt .img-sibling-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

.hero-child .child1 .child1-img-pt .img-sibling-text a {
  text-decoration: none;
  color: gray;
  width: 100%;
}

.hero-child .child1 .child1-img-pt .img-sibling-text p {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.hero-child .child2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.hero-child .child2 img {
  width: 65%;
}

.benefit-main {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0px 6px;
}

.benefit-main .benefit-child1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefit-main .benefit-child1 .child1-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.benefit-main .benefit-child1 .child1-text h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}

.benefit-main .benefit-child1 .child1-text p {
  font-size: 24px;
  line-height: 32px;
  color: #828282;
}

.benefit-main .benefit-child1 div {
  width: 50%;
}

.benefit-main .benefit-child1 div img {
  width: 100% !important;
}

.benefit-main .benefit-child2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefit-main .benefit-child2 div {
  width: 50%;
}

.benefit-main .benefit-child2 div img {
  width: 100%;
}

.benefit-main .benefit-child2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.benefit-main .benefit-child2 div h1 {
  font-size: 48px;
  line-height: 60px;
  width: inherit;
}

.benefit-main .benefit-child2 div p {
  font-size: 24px;
  line-height: 28px;
  margin: 6px;
  color: #828282;
  text-align: left;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefit-main .benefit-child2 div p h3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e5efff;
  font-size: 16px;
  line-height: 18px;
  color: #003087;
  text-align: center;
  padding-top: 5px;
  margin-right: 8px;
}

.banner-main {
  margin-bottom: 100px;
}

.banner-main img {
  width: 100%;
  height: 508px;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
}

.footer .footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1520px;
  background-color: white;
  margin: 0 auto;
  padding: 0px 6px;
}

.footer .footer-main .foot-child2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .footer-main .foot-child2 a {
  margin-left: 40px;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */